

.navbar {
    background-color: #000;
    color: #fff;
    border-bottom: 1px rgb(58, 58, 58) solid;
    height: 4rem;
}

.gallery-main {
    background-color: rgb(43, 43, 43);
    height: 100vh;
    border-top: 1px rgb(73, 73, 73) solid;

}

.project {
    width: 20vw;
    height: 20vh;
}