@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oxygen&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
   height: 100vh;
   background-color: rgb(1, 1, 43);
   font-family: 'Roboto', sans-serif;
  
}

a, a:hover {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(235,235,235);
}

/****** begin navbar *******/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  rgb(95, 30, 0);
    border-bottom: 1px rgb(73, 73, 73) solid;
    height: fit-content;
}

.nav-icons {
    margin-left: 1rem;
}

.nav-icons i {
    margin: .5rem;
    font-size: 1.25rem;
    
}

.nav-icons i:hover {
    color: rgba(255,255,255,.5)
}

.nav-text {
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen';
    font-weight: bolder;
    letter-spacing: 2px;
}

/*********** about **********/


.about-me {
    padding: 0;
    color: rgb(235,235,235);
}

.about-me p {
    margin: 2rem;
    margin-left: 1rem;
    margin-right: 5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Oxygen';
    letter-spacing: 1px;
}

.img-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 30rem;
    
}

.img-wrapper img {
    
    width: 120vw;
    position: relative;
    bottom: 10rem;
    right: 10rem; 
   
} 

/******* begin main body *********/

.gallery-main {
    height: fit-content;
    
    padding-bottom: 3rem;
    
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/******** begin modals *********/


.modal-card {
    position: relative;
    margin-right: 2.5rem;
    margin-top: 5rem;
    padding: 0;
    width: 19.5rem;
    box-shadow: 0 0 5px 1px black;
}

.modal-button {
    padding: 0;
    border: none;
    outline: none;
}

.modal-button:hover {
    outline: none;
    outline-color: black;

}

.modal-image {
    width: 100%;
    height: 20rem;
    position: relative;
    border-bottom: 5px black solid;
    zoom: 100%;
}

.modal-cover {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.modal-cover:hover img {
    filter: blur(1px);
 
}


.modal-cover:hover:after {
    content:"";
    background-color: rgba(0,0,0,.3);
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    
}

.modal-cover i {
    color: transparent;
    position: absolute;
    top: .5rem;
    left: 17rem;
    z-index: 2; 
    font-size: 1.3rem;
    
}

.modal-cover:hover i {
    display: show;
    position: absolute;
    top: .5rem;
    left: 17rem;
    z-index: 2;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9);
}

.modal-card-footer {
    background-color: black;
    width: 100%;
    height: fit-content;
    position: relative;
    color: rgb(235,235,235);;
}

.modal-card-footer i {
    margin: .5rem .5rem;
    font-size: 1.1rem;
    color: rgb(235,235,235);;
}

.modal-card-footer i:hover {
    color: rgba(255,255,255,.5)
}

/********** begin modal window ********/

body.modal-open .modal-content {
  /*styles for modal box
    /* image of project in background, blurred, when project's modal is open */
}

.modal-title {
    font-family: 'Roboto';
}

.modal-dialog {
    color: black;
    font-family: 'Lato';
    font-weight: 400;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
    
}

.modal-footer a {
    color: black;
    font-size: 1.2rem;
    padding-right: .5rem;
}


/************* BEGIN FOOTER************/

.footer {
   
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(95, 30, 0);
    border-top: 1px rgb(73, 73, 73) solid;
    font-size: 1rem;
    font-family: 'Oxygen';
    letter-spacing: 1px;
    color: rgb(235,235,235);
   
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: rgb(235,235,235);
    margin: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.contact-form label {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    border: none;
    border-bottom: solid 1.5px rgb(235,235,235);
    background: transparent;
    color: rgb(235,235,235);
    margin-left: 1rem;
    width: 15rem;
}

.contact-form input:focus {
    outline: none;
}

.contact-form textarea {
    height: 4rem;
    width: 25rem;
    border: none;
    border-bottom: solid 1.5px rgb(235,235,235);
    background: transparent;
    color: rgb(235,235,235);
    margin-left: 1rem;

}

.contact-form textarea:focus {
    outline: none;
}